@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

#app {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100% !important;
  max-height: 100% !important;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 5rem;
}


//SECCION PORTADA
.portada {
  display: flex;
  margin: 7rem auto 0 5rem;
  flex-wrap: wrap;
  align-items: center;

  &__text-container {
    width: 60%;
  }

  &__name {
    color: #1EF0C3;
    font-size: 2.5rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    margin: auto auto 2rem auto;
  }

  &__title {
    color: #6855F9;
    font-size: 3.2rem;
    //  font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 4.375rem;
    letter-spacing: -0.10313rem;
    margin: 0 5rem 0 auto;
  }

  &__subtitle {
    color: #34333F;
    font-size: 2rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 5rem 0 auto;
  }

  &__description {
    color: #34333F;
    font-size: 1rem;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 35px;
    word-wrap: break-word;
    line-height: 2.1875rem;
    margin: 2rem 5rem 2rem auto;
  }

  &__img-container {
    width: 40%;
    display: flex;
    justify-content: flex-end !important;
    align-items: center !important;
  }

}

//SECCION CIFRAS
.cifras {
  display: flex;
  margin: 7rem 3rem 0 3rem;
  padding: 2rem 3rem;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 1.875rem;
  border: 1px solid var(--div-300, #DEDEDE);
  background: #FFF;
  border-radius: 1.875rem !important;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.10) !important;

  &__text-container {
    width: 100%;
  }

  &__cards-container {
    width: 100%;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center !important;
    margin: 0;
  }

  &__card {
    box-shadow: none !important;
    padding: 1rem 2rem !important;
    width: 25%;
  }

  &__card-title {
    color: #34333F;
    text-align: center;
    font-size: 1rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5625rem;
  }

  &__card-num {
    color: #6855F9;
    text-align: center;
    text-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    font-size: 3.75rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__nav-container {
    display: flow-root;
    justify-content: center;
    margin: 1.5rem 0;
    width: 100%;
  }
}


//SECCION TECNOLOGIA
.tecnologias {
  display: flex;
  margin: 7rem auto 0 5rem;
  flex-wrap: wrap;
  align-items: center;

  &__text-container {
    width: 30%;
  }

  &__cards-container {
    width: 70%;
    display: flow-root;
  }

  &__cards {
    border-radius: 1.25rem !important;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1) !important;
    display: grid !important;
    justify-content: center !important;
    align-items: center;
    align-content: center;
    text-align: center !important;
  }

  &__title {
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__image{
    width: 120px;
  }
}

//SECCION SERVICIOS
.servicios {
  display: flex;
  margin: 5rem auto 0 5rem;
  flex-wrap: wrap;
  align-items: center;

  &__text-container {
    width: 30%;
    margin-top: -6rem;
  }

  &__carrousel{
    display: flex;
    justify-content: space-around;
  }

  &__cards-container {
    width: 70%;
    margin-top: -6rem;
    padding: 3rem 0;
  }

  &__card {
    border-radius: 1.25rem !important;
    background: #FFF !important;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10) !important;
    margin: 0 1em;
    width: 270px;
    height: 290px;
  }

  &__cardContainer{
    height: 100% !important;
    display: inline-flex !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
    justify-items: center !important;
  }

  &__image{
    width: 150px;
    height: 150px;
  }

  &__title {
    color: #34333F;
    text-align: center;
    font-size: 1.25rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0.75em 0;
  }
  &__description {
    color: #34333F;
    text-align: center;
    font-size: 0.85rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0.75em 0;
  }
  &__content {
    display: grid;
    align-items: center;
    justify-items: center;
  }
}

//SECCION EMPRESAS
.empresas {
  &__container-nav {
    display: flow-root !important;
    margin: 2rem 0;
  }

  &__nav-card {
    padding: 1rem 2rem;
    border-radius: 1.875rem;
    margin-right: 1rem;
    border: 1px solid var(--div-100, #6855F9);
  }

  &__nav-text {
    text-align: center !important;
    margin: 1rem;
    font-size: 0.9375rem !important;
    font-family: Montserrat !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 1.25rem !important;
    color: #6855F9 !important;
  }
  
  &__nav-text-active {
    text-align: center !important;
    margin: 1rem;
    font-size: 0.9375rem !important;
    font-family: Montserrat !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 1.25rem !important;
    color: #fff !important;
    background-color: #6855F9 !important;;
  }

  &__container-cards {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-evenlyss !important;
    width: 100%;
  }

  &__card {
    width: 220px;
    height: 120px;
    border-radius: 0.625rem !important;
    border: 1px solid var(--div-300, #DEDEDE) !important;
    padding: 0.5rem !important;
    margin: 1rem;
    display: flex !important;
    justify-content: center !important;
  }
}

// SECCION REVISTAS
.revista {
  display: flex;
  margin: 7rem 5rem 0 5rem;
  padding: 3rem 5rem;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 1.875rem;
  border: 1px solid var(--div-300, #DEDEDE);
  background: #FFF;

  &__text-container {
    width: 100%;
  }

  &__cards-container {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-evenly !important;
    margin: 3rem 0;
    width: 100%;
  }

  &__card {
    width: 220px;
    border-radius: 0.625rem !important;
    border: 1px solid var(--div-300, #DEDEDE) !important;
    margin: 1rem;
    display: flex !important;
    justify-content: center !important;
  }

}

//TIMELINE
.timeline {
  margin: 2rem 5rem 2rem auto;

  &__description {
    color: #34333F;
    font-size: 1rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
  }
  &__fecha{
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

//FORMULARIO
.btn-formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 7rem 5rem;
  padding: 3rem 5rem;
  background-color: #6855F9;
  border-radius: 1.875rem;
  background: var(--div-100, #6855F9);

  &__img-container {
    width: 30%;
    display: grid;
    align-content: center;
    justify-content: center;
  }

  &__form-container {
    width: 70%;
  }
  &__col{
    width: 50%;
    padding: 0 1rem;
    align-items: center !important;
    display: grid !important;
  }
  &__input {
    border-radius: 12px;
  }
  &__title{
    color: #FFF;
    font-family: Montserrat;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    margin:0.5rem 1rem;
  }
}

.footer {
  display: flex;
  margin: 5rem 5rem 0 5rem;
  flex-wrap: wrap;
  align-items: baseline;

  &__information-container {
    width: 50%;
    padding: 3rem 2rem;
  }

  &__contacto{
    display: grid;
    align-items: center;
    align-content: center;
  }

  &__title {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 2.1875rem;
  }

  &__img-container {
    width: 25%;
    display: flex;
    align-content: center !important;
    align-items: center;
  }

  &__text-container {
    width: 75%;
  }

  &__text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__description {
    color: #FFF;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
  }
  &__row-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
  }

  &__blog {
    display: inline-grid;
    width: 100%;
  }
}

.blog{
  border-radius: 1.25rem !important;
  border: 1px solid var(--div-300, #DEDEDE) !important;
  margin: 1rem 0 !important;

  &__img{
    width: 30%;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  &__content {
    display: inline-grid;
    width: 70%;
    padding: 1rem;
    align-content: center;
  }
  &__title{
    color: #FFF;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__description{
    color: #FFF;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
  }
  &__fecha{
    color: #FFF;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
  }
}

.btn-primary {
  border-radius: 1.875rem;
  height: 3.25rem;
}

.v-input--density-default .v-field--variant-solo, .v-input--density-default .v-field--variant-solo-inverted, .v-input--density-default .v-field--variant-solo-filled, .v-input--density-default .v-field--variant-filled {
  background-color: #6855F9 !important;
  border-radius: 1.875rem !important;
  border: 1px solid #FFF !important;
}
.v-text-field input {
  color: #fff !important;
}

.v-timeline--horizontal.v-timeline--align-start .v-timeline-divider {
  justify-content: center !important;
}
.v-timeline--horizontal.v-timeline--align-start {
  justify-items: center !important;
}
.v-timeline--horizontal.v-timeline {
  grid-column-gap: 0 !important;
  width: 100%;
}

@media (min-width: 601px) and (max-width: 900px) {
  .portada {
    &__text-container {
      width: 100%;
    }

    &__img-container {
      width: 100%;
    }
  }
  .footer {
    &__information-container {
      width: 100%;
      padding: 1rem;
    }
  }

  .cifras {
    margin: 0 2rem 0 2rem;

    &__cards-container {
      width: 100%;
    }

    &__card {
      width: 50%;
    }
  }

  .tecnologias {
    &__text-container {
      width: 100%;
    }

    &__cards-container {
      width: 100%;
    }
  }

  .empresas {
    &__container-cards {
      padding-right: 3rem !important;
    }
    &__card {
      width: 46% !important;
    }
  }

  .revista {
    padding: 3rem;
  }
  .formulario {
    margin: 5rem 3rem;
    padding: 3rem;
  }
}

@media screen and (max-width: 600px) {

  .header {
    margin: 1rem;
  }
  .portada {
    display: flex;
    margin: 5rem auto 0 2rem;

    &__text-container {
      width: 100%;
    }

    &__title {
      margin: 0 2rem 0 auto;
    }

    &__subtitle {
      margin: 0 2rem 0 auto;
    }

    &__description {
      margin: 0 2rem 0 auto;
    }

    &__img-container {
      width: 100%;
      margin: 3rem 0;
    }
  }

  .cifras {
    margin: 0 1rem 0 1rem;
    padding: 1rem;

    &__cards-container {
      width: 100%;
    }

    &__card {
      padding: 1rem !important;
      width: 100%;
    }
  }

  .tecnologias {
    margin: 5rem auto 0 2rem;

    &__text-container {
      width: 100%;
    }

    &__cards-container {
      width: 100%;
      margin: 3rem 0;
    }
  }

  .servicios {
    margin: 5rem auto 0 2rem;

    &__text-container {
      display: none;
    }

    &__cards-container {
      width: 100%;
      margin-top: -6rem;
    }
  }

  .empresas {
    &__container-cards {
      padding-right: 2rem;
    }
    &__card {
      width: 100% !important;
    }
  }
  .revista {
    margin: 2rem 2rem 0 2rem;
    padding: 2rem;

    &__card {
      width: 100% !important;
    }
  }

  .formulario {
    margin: 2rem;
    padding: 2rem;

    &__img-container {
      width: 100%;
    }
    &__form-container {
      width: 100%;
    }
    &__col{
      width: 100% !important;
      padding: 0;
    }
  }

  .footer {
    margin: 5rem 2rem 0 2rem;
    &__information-container {
      width: 100%;
      padding: 2rem 0;
    }
  }
  .col{
    flex-basis: 100% !important;
  }
}